
*{
    margin:0;
    padding: 0;
    
}
.heading{

    height:200px;  
    overflow:hidden;
    background-color:blanchedalmond ;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
   

}



.heading ul{
    font-size: 20px;

    width: 100%;
    padding:10 40;
    background-color: rgba(12, 12, 10, 0.8);
}


.heading ul li a{
    color: white;
text-decoration: none;
}
.heading ul li a:hover{
    color:#008800;
}

.content{
    display: inline-block;
    margin:20 20;
}

.srch{
    margin-top: 1px;
    width: 100%;
    
    
}
.srch >*{
   margin-right: 30px; 
   margin-bottom: 10px;
   margin-left: 5px;
  }
.srch input{
    height: 40px;
    
}
.styleSrch select{
    font-family:Arial;
    height:40px;
    width: 100px;
}

.styleSrch button{
    height:40px;
    width: 50px;
}

#iu{
    width: 500px;
   padding-right: 13px; 
}
.house1{
    display: inline-flex;
    margin-left: 12px;
    margin-top: 20px;
}
#img1{
    height: 100px;
}
#hh1{
    color:goldenrod;
    font-family: 'Franklin Gothic Medium';
    font-size: 26px;
}
#hh1:hover{
color: green;
}

.house1 p a{
   font-size: 19px;
    text-decoration: none;

}
.house1 p a:hover{
color: green;

}
#h1{
    margin: 20 20;
    height: 500px;
    width: 750px;
}
.house1kimuhurura{
    margin-left: 20px;
}
.house1kimuhurura h3{
    font-size: 30px;
    color: #008800;
}
.details{
    margin-left: 30px;

    display:block;
}
.details h3{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    color:chocolate;
    margin-bottom: 10px;
}
.contact{
    margin: 20 40;


}
.contact h3{
    color: coral;
    font-size: 30px;
}/*

*/
#roi{
    background-color: white;
    height: 16px;
    position: absolute;
    left: 430px;
    top: 230px;
}
#mored{
    background-color: blueviolet;
    color: #000;
}

.house2{
    width: 700px;
    display: inline-flex;
    border: 1px solid green;
    border-radius: 5px;
    margin-left: 40px;
    margin-top:20px ;
}
.size{

    max-width: 110px;
    height: 110px;
    border-radius: 5px;
}
.styleImg2{
    margin: 9px;

}
.imgsiz{
padding:9 9 9 9;
}

.description{
    display:block;
    margin-left: 15px;
    
}

.headanim{
   
    font-size: 22px;
    font-family: 'Segoe UI';
    font-weight: bold;
    padding-bottom:5px;
}
.headanim a{
    text-decoration: none;
    color: #008800;
}

.more{
     
    display: inline-flex;
    padding: 5 5;
       
       }

   .housebuttong{
    color: white;
    background-color: cadetblue;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: 5px;
   }    

   
   .rentb{

    color: white;
    background-color: green;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 5px;

   }    

   .pnim{
  font-style: Monospace;
  font-size: 18px;

   }


   .styleLogoImg
   {
    margin-left: 20px;
    width: 110px;
    height:110px;
    margin-top: 10px;
    margin-bottom: 10px;

   }


   .styleLogo
   {
   display: inline-flex;
   }

   .styleLogoList li  {
        color: white;
       display:inline-flex;
        list-style-type:none;
        padding-right: 50px;
       
        text-align: center;
        padding-left: 7px;
        height: 50px;
        justify-content: center;
        align-items: center;

   }

   .styleLogoHead{

     margin-left: 390px;
   margin-top: 20px;
   font-size: 30px ;
    font-family:Georgia;    
    color:darkolivegreen;

   }

   .styleLogoButton {
    margin-left: 200px;
    margin-top: 9px;

}

   .styleLogoButton button{
    cursor: pointer;
    height: 35px;
    font-family:Monospace;
    font-size: 24px;
    border-radius: 5px;
    background-color: darkslategray;
    color: white;
    

   }
   
   .styleMain{
        margin-top: 100px;
        height: 1700px;
       display: inline-block;
       width: 100%;
        

   }

 .styleFaYoutube{
margin-left: 380px;
color: red;
font-size:20px;

 }
 .styleFastar{
color: yellow;
font-size:20px;
margin-left: 8px;
 }

 .styleLabelHead{
    display: flex;
    justify-content: space-between;
 }

 .styleEnd{
    display:flex;
    gap: 20px;
 }
 #loginLink {
    text-decoration: none;
    color: white;

 }

 #priceOn { 

    margin-left: 10px;
   color: red;
   font-weight: 400px;
 }
 